.navbar-layer{
	background-color: #990000;
}

.services-title{
	font-weight: bold;
	color: #ffffff;
	background: #ffffff;
	padding: 25px;
}

.service2{
	background-color: #339966;
}





